<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="HotelBookingManagerDB" connectionString="Data Source=JESSICASLAPTOP\MSSQLSERVER01;Initial Catalog=HotelBookingManagerDB;Integrated Security=SSPI;TrustServerCertificate=True;"/>
	</connectionStrings>
</configuration>