# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Results
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
packages/

# Microsoft Visual Studio Code
.vscode/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Local SQL Server data files
*.mdf
*.ldf

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
