# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
# Include if you have non-package dependencies
# packages/

# Microsoft Visual Studio Code
.vscode/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Local SQL Server data files
*.mdf
*.ldf

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
